<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- spring boot properties -->
    <springProperty scope="context" name="level" source="logging.level" defaultValue="DEBUG"/>
    <springProperty scope="context" name="appender" source="logging.appender" defaultValue="CONSOLE"/>

    <!-- constant -->
    <property name="log_path" value="logs"/>
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>
    <property name="log_charset" value="UTF-8"/>

    <!-- console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>${log_charset}</charset>
        </encoder>
    </appender>

    <!-- file -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_pattern}/log.log</file>

        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>${log_charset}</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>